.header {
  display: flex;
  background-color: rgba(0, 0 ,0 , 0.3);
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
}

ul {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  color: white;
}